<div class="character-detail-wrapper">
  <div
    class="character-header"
    *ngIf="character"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
  >
    <div
      class="character-img"
      fxFlex="260px shrink"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <img
        [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
        class="animate__animated"
        onload="this.classList.add('animate__fadeIn')"
      />
      <button mat-raised-button *ngIf="!isMine" (click)="addCharacter()">
        Añadir a mi equipo
      </button>
      <button mat-raised-button color="primary" *ngIf="isMine" (click)="deleteCharacter()">
        Eliminar de mi equipo
      </button>
    </div>

    <div
      class="character-info"
      fxLayout="column"
      fxLayoutAlign="center start"
      fxFlex="75"
      fxFlex.xs="100"
    >
      <p class="character-info-name">{{ character.name }}</p>
      <p class="character-info-description">{{ character.description }}</p>
    </div>
  </div>

  <div class="info-separator" *ngIf="characterComics"></div>

  <div class="character-comics-carousel" *ngIf="characterComics">
    <p>Aparece en</p>
    <carousel [height]="300" [cellWidth]="200" [margin]="30">
      <div
        class="carousel-cell"
        *ngFor="let comic of characterComics"
        (click)="buyComic(comic.urls[0].url)"
      >
        <img
          [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
          class="animate__animated"
          onload="this.classList.add('animate__fadeIn')"
        />
      </div>
    </carousel>
  </div>
</div>
