<mat-card class="character-card">
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ character.thumbnail.path + '.' + character.thumbnail.extension }}"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!isMine" (click)="addCharacter()">Añadir a mi equipo</button>
    <button mat-button *ngIf="isMine" (click)="deleteCharacter()">Eliminar de mi equipo</button>
  </mat-card-actions>
</mat-card>
