.character-card {
  height: calc(100% - 30px);
  border-radius: 10px;
  box-shadow: 2px 4px 13px 7px rgb(0 0 0 / 8%);

  mat-card-title {
    font-size: 15px;
  }
  .character-card-img {
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
    img {
      cursor: pointer;
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }

  mat-card-actions {
    text-align: center;
  }
}
