@import "src/app/styles/mixins.scss";

.first-time-text {
  margin-bottom: 20px;
  @include extra-small {
    width: 100%;
  }
  @include small {
    width: 100%;
  }
  @include medium {
    width: 400px;
  }
  @include large {
    width: 400px;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @include extra-small {
    width: 100%;
  }
  @include small {
    width: 100%;
  }
  @include medium {
    width: 400px;
  }
  @include large {
    width: 400px;
  }
  mat-form-field {
    margin-bottom: 10px;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 20px;
  }
}
