<div class="team-info">
  <p>{{ myTeamInfo.name }}</p>
  <p>
    {{ myTeamInfo.description }}
  </p>

  <button mat-raised-button (click)="editTeamInfo()">Editar información</button>
</div>

<div class="characters-container" fxLayout="row wrap" fxLayoutGap="20px grid">
  <div
    fxFlex="33.33"
    fxFlex.lg="33.33"
    fxFlex.md="33.33"
    fxFlex.sm="50"
    fxFlex.xs="100"
    *ngFor="let character of myTeam"
  >
    <app-character-card
      [character]="character"
      (deleteEmitter)="deleteCharacter($event)"
    ></app-character-card>
  </div>
</div>
