<p>¡Hola!</p>

<p>
  Parece que es la primera vez que usas MyAvengers. Para empezar, escribe un
  nombre y una descripción para tu equipo de heroes
</p>

<form [formGroup]="teamForm" (ngSubmit)="onSubmit()" *ngIf="teamForm">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="teamForm.controls['name'].status === 'INVALID'"
      >Este campo es obligatorio</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="teamForm.controls['description'].status === 'INVALID'"
      >Este campo es obligatorio</mat-error
    >
  </mat-form-field>

  <button mat-raised-button type="submit">Aceptar</button>
</form>
