<app-navbar (openDrawer)="drawer.toggle()"></app-navbar>

<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <button mat-raised-button [routerLink]="['/']">Pagina principal</button>
    <button mat-raised-button [routerLink]="['/myTeam']">Mi equipo</button>
  </mat-drawer>

  <div class="main-page">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<div class="spinner-container" [ngClass]="{ invisible: !loading }">
  <app-spinner></app-spinner>
</div>
