<div class="search-container">
  <img
    class="my-avengers-logo"
    src="assets/img/logo.png"
    alt="My Avengers Logo"
  />

  <mat-form-field class="search-character" appearance="outline" color="accent">
    <mat-label>Busca tu heroe</mat-label>

    <input
      matInput
      type="text"
      [(ngModel)]="characterName"
      (keyup.enter)="search()"
    />
    <button
      *ngIf="characterName"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="characterName = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button (click)="search()">Buscar</button>
</div>
